<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/carmencita-brunch.jpg?as=webp&quality=75" alt="Restaurante La Carmencita Brunch en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">La Carmencita Brunch</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Brunch</li>
              <li class="ficha__etiqueta">Huevos poche</li>
              <li class="ficha__etiqueta">Tostadas</li>
            </ul>
          <p class="ficha__descripcion">Si estás buscando el mejor brunch en Benidorm, Carmencita es conocido por su auténtico menú de brunch americano, su ambiente relajado y su trato cercano. Nuestro menú incluye clásicos del brunch como eggs benedict, pancakes, avocado toast, French toast, hamburguesas, café de especialidad y nuestras famosas mimosas.</i></p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Dirección: Av. Emilio Romero, 7, 03503 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo:<b> 09:00-15:30</b></li>
              <li class="ficha__dato">Especialidad: <u>Huevos benedictinos y café de especialidad.</u></li>
              <li class="ficha__dato">Precio medio: <b>20€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
                <button class="ficha__enlace ficha__enlace--carta" href="https://maps.app.goo.gl/YCjy2EN8azZpK51t5" target="_blank">Carta</button>
                <button class="ficha__enlace ficha__enlace--telefono" href="tel:966367256">966 86 72 12</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://carmencitabrunch.es/#5" target="_blank">Reserva aquí</button>
            </div>
        </article>