<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/casatoni.jpg?as=webp&quality=75" alt="Casa Toni restaurante en Benidom">
          </figure>
          <h3 class="ficha__encabezado">Casa Toni</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Tapeo</li>
              <li class="ficha__etiqueta">Mariscos</li>
            </ul>
          <p class="ficha__descripcion">El paraíso para los amantes de la materia prima sin disfraces. Un local que lo apuesta todo a la calidad del producto: excelentes carnes a la brasa y marisco fresco traído directamente de la lonja.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Av. de la Comunidad Valenciana, 2, 03501 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Martes a Sábado, 13:30 - 16:00 y 19:30 - 23:00. Domingo, <b>13:00 - 16:00</b> <span class="ficha__dato--cerrado">(Cerrado los Lunes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Chuletón a la brasa y gamba roja de Dénia.</u></li>
              <li class="ficha__dato">Precio medio: <b>60€</b> por persona</li>
            </ul>
              <div class="ficha__enlaces">
                <button class="ficha__enlace ficha__enlace--carta" href="https://www.casatoni.es/restaurante/#carta" target="_blank">Carta</button>
                <button class="ficha__enlace ficha__enlace--telefono" href="tel:965853333">965 85 33 33</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://www.casatoni.es/#reservas" target="_blank">Reserva aquí</button>
              </div>
        </article>