 <article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/dvora.png?as=webp&quality=75" alt="D.VORA restaurante en Benidom">
          </figure>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Vistas</li>
              <li class="ficha__etiqueta">Vanguardia</li>
            </ul>
            <h3 class="ficha__encabezado">Gastrobar D.Vora</h3>
            <p class="ficha__descripcion">Si buscas comer bien con unas vistas inmejorables, este es tu sitio. Su terraza suspendida sobre el mar es el escenario perfecto para probar platos mediterráneos con un toque moderno y muy atrevido.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Plaça de Sant Jaume, 5, 03501 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo, <b>13:00 - 23:30</b></li>
              <li class="ficha__dato">Especialidad: <u>Ceviches y cócteles frente al mar.</u></li>
              <li class="ficha__dato">Precio medio: <b>35€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
                <a class="ficha__enlace" href="https://www.d-vora.com/cartas-y-menus/" target="_blank">Carta</a>
                <a class="ficha__enlace" href="tel:965270874">965 27 08 74</a>
                <a class="ficha__enlace ficha__enlace--destacado" href="https://d-vora.com" target="_blank">Reserva aquí</a>
            </div>
        </article>