 <article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/kinzo-sushi.png?as=webp&quality=75" alt="Restaurante Kinzo Sushi en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">Kinzo Sushi</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Japonesa</li>
              <li class="ficha__etiqueta">Buffet</li>
              <li class="ficha__etiqueta">Fusion</li>
            </ul>
          <p class="ficha__descripcion">El contrapunto exótico de nuestra ruta. Si te apetece cambiar de aires, aquí encontrarás comida japonesa elaborada con una técnica impecable, fusionada con pescados locales fresquísimos.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Via Emilio Ortuño, 19, 03503 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo: <b>12:00-16:00, 20:00-23:00</b><span class="ficha__dato--cerrado"> (Cerrado el Martes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Sashimi de atún rojo y uramakis creativos.</u></li>
              <li class="ficha__dato">Precio medio: <b>25€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
                <button class="ficha__enlace" href="https://kinzo.pedidomovil.es/onboarding" target="_blank">Carta</button>
                <button class="ficha__enlace" href="tel:966367256">966 36 72 56</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://www.instagram.com/kinzosushi_official/" target="_blank">Reserva aquí</button>
            </div>
        </article>