<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/arroceria-la-marina.jpg?as=webp&quality=75" alt="Restaurante Arrocería La Marina en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">Arrocería La Marina</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Arroces</li>
              <li class="ficha__etiqueta">Brasas</li>
              <li class="ficha__etiqueta">Senyoret</li>
            </ul>
          <p class="ficha__descripcion">Ir a la Costa Blanca y no comer un buen arroz es un delito, y aquí preparan algunos de los mejores. Capa finísima en la paella, socarrat en su punto exacto y muchísimo sabor a mar.<i>Jueves y Viernes chuleta de cordero ilimitadas por 20€</i></p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Foia Manera, Partida, Camí del Palasiet, 31, 03503 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Miercoles a Domingo, <b>11:00-18:00</b><span class="ficha__dato--cerrado"> (Cerrado Lunes y Martes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Arroz del senyoret y chuletas de cordero.</u></li>
              <li class="ficha__dato">Precio medio: <b>40€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
              <a class="ficha__enlace" href="https://arrocerialamarina.com/es/info/cartas" target="_blank">Carta</a>
              <a class="ficha__enlace" href="tel:966367256">966 86 72 12</a>
              <a class="ficha__enlace ficha__enlace--destacado" href="https://arrocerialamarina.com/es/contacto" target="_blank">Reserva aquí</a>
            </div>
        </article>