 <article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/marianos.png?as=webp&quality=75" alt="Restaurante Mariano's en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">Mariano's</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Frenético</li>
              <li class="ficha__etiqueta">Comfort-food</li>
            </ul>
          <p class="ficha__descripcion">El local salvavidas de Benidorm. Da igual si vas a comer al mediodía con la familia o a recenar de madrugada; su ambiente es único y siempre te vas con el estómago lleno y una sonrisa.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">C. Gerona, 49, 03503 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo,<span class="ficha__dato--24h"> Abierto 24 horas</span></li>
              <li class="ficha__dato">Especialidad: <u>Su mítico pollo asado y raciones de pizza.</u></li>
              <li class="ficha__dato">Precio medio: <b>12€</b> por persona</li>
            </ul>
              <div class="ficha__enlaces">
                <a class="ficha__enlace" href="https://maps.app.goo.gl/AfRanfoTrJKVYJXF7" target="_blank">Carta</a>
                <a class="ficha__enlace" href="tel:965854406">965 85 44 06</a>
                <a class="ficha__enlace ficha__enlace--destacado" href="https://www.facebook.com/losmarianos" target="_blank">Reserva aquí</a>
              </div>
        </article>