<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/mejillonera.avif?as=webp&quality=75" alt="La Mejillonera restaurante en Benidom">
          </figure>
          <h3 class="ficha__encabezado">La Mejillonera</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Tapeo</li>
              <li class="ficha__etiqueta">Mariscos</li>
            </ul>
          <p class="ficha__descripcion">Ruido, alegría y un ritmo frenético. Esta mítica parada es el paraíso del tapeo informal en Benidorm. Un sitio donde mancharse las manos comiendo marisco a precios populares es casi una obligación.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Avenida de Almería, 1, 03501 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo, <b>13:00 - 16:00 y 20:00 - 23:30</b> <span class="ficha__dato--cerrado">(Cerrado los Martes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Mejillones al vapor y arroz a banda.</u></li>
              <li class="ficha__dato">Precio medio: <b>50€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
                <button class="ficha__enlace" href="https://www.lamejillonera.com/carta" target="_blank">Carta</button>
                <button class="ficha__enlace" href="tel:628242199">628 24 21 99</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://www.lamejillonera.com/" target="_blank">Reserva aquí</button>
            </div>
        </article>