<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/mos.png?as=webp&quality=75" alt="Restaurante MOS en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">MOS</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Aperitivo</li>
              <li class="ficha__etiqueta">Cocteles</li>
              <li class="ficha__etiqueta">Canapés</li>
            </ul>
          <p class="ficha__descripcion">La opción perfecta para coger fuerzas por la mañana o hacer una pausa más ligera. Un local moderno y desenfadado donde el pan de verdad y las opciones saludables son las estrellas.</i></p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">Alameda del Alcalde Pedro Zaragoza Orts, 8, 03501 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Martes a Domingo: <b>12:00 - 23:00</b><span class="ficha__dato--cerrado"> (Cerrado los lunes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Gildas y croquetas.</u></li>
              <li class="ficha__dato">Precio medio: <b>15€</b> por persona</li>
            </ul>
            <div class="ficha__enlaces">
                <button class="ficha__enlace" href="https://mosconcept.es/carta/" target="_blank">Carta</button>
                <button class="ficha__enlace" href="tel:666555444">666 55 54 44</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://mosconcept.es/carta/" target="_blank">Reserva aquí</button>
            </div>
        </article>