<article class="ficha">
          <figure class="ficha__figura">
            <img class="ficha__imagen" src="./assets/images/la-seyoria.png?as=webp&quality=75" alt="Restaurante La Señoría en Benidorm">
          </figure>
          <h3 class="ficha__encabezado">Restaurante La Señoría</h3>
            <ul class="ficha__etiquetas">
              <li class="ficha__etiqueta">Casco antiguo</li>
              <li class="ficha__etiqueta">Relax</li>
            </ul>
          <p class="ficha__descripcion">Escondido en el casco histórico, es un rincón perfecto para relajarse y huir del bullicio. Sus tapas y raciones combinan genial con una sobremesa tranquila y un buen vino de la zona.</p>
            <ul class="ficha__lista">
              <li class="ficha__dato ficha__dato--direccion">C. Plaça de la Senyoria, 8, 03503 Benidorm, Alicante</li>
              <li class="ficha__dato">Horario: Lunes a Domingo: <b>12:00-16:00, 20:00-23:00</b><span class="ficha__dato--cerrado"> (Cerrado el Martes)</span></li>
              <li class="ficha__dato">Especialidad: <u>Calamares a la andaluza y ensaladillas.</u></li>
              <li class="ficha__dato">Precio medio: <b>30€</b> por persona</li>
              </ul>
              <div class="ficha__enlaces">
                <button class="ficha__enlace" href="https://maps.app.goo.gl/gRre5oyndNk112v96" target="_blank">Carta</button>
                <button class="ficha__enlace" href="tel:965858086">965 85 80 86</button>
                <button class="ficha__enlace ficha__enlace--destacado" href="https://www.instagram.com/lasenyoria.restaurante/" target="_blank">Reserva aquí</button>
              </div>
        </article>