@use "../variables" as *;

.fichas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;

  @media screen and (min-width: $mq-large) {
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
  }
}

.ficha {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: $box-shadow-base;
  background-color: $color-blanco;

  &__encabezado {
    margin-bottom: 15px;
    padding: 0 15px;
    font-family: $font-titulos;
    font-size: 1.5rem;
    color: $color-secundario;
  }

  &__figura {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;

    @media screen and (min-width: $mq-large) {
      height: 400px;
    }
  }

  &__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__etiquetas {
    position: absolute;
    display: flex;
    gap: 10px;
    padding: 10px;
    list-style: none;
    background: none;
  }

  &__etiqueta {
    padding: 5px 8px 0;
    border-radius: 15px;
    box-shadow: $box-shadow-base;
    font-family: $font-acento;
    font-size: 0.7rem;
    color: $color-secundario;
    background-color: $color-acento;
  }

  &__descripcion {
    flex-grow: 1;
    padding: 0 15px 15px;
    font-family: $font-cuerpo;
    color: $color-texto;
  }

  &__lista {
    margin: 0;
    padding: 10px 15px 15px;
    list-style: none;
    font-family: $font-cuerpo;
    font-weight: $font-weight-thin;
    background-color: $color-fondo;
  }

  &__dato {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: $color-texto;

    &--direccion {
      font-style: italic;
    }

    &--cerrado {
      font-weight: $font-weight-bold;
      color: $color-acento;
      text-shadow: $color-texto 1px 0 6px;
    }

    &--24h {
      font-weight: $font-weight-bold;
      color: $color-secundario;
    }
  }

  &__enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px 20px;
    list-style: none;
  }

  &__enlace {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-family: $font-titulos;
    color: $color-acento;
    text-decoration: none;
    background-color: $color-secundario;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      color: $color-blanco;
      box-shadow: 0 6px 12px rgba($color-texto, 0.3);
    }

    &--destacado {
      color: $color-blanco;
      background-color: $color-acento;

      &:hover {
        color: $color-texto;
        background-color: $color-blanco;
      }
    }

    @media screen and (min-width: $mq-large) {
      margin-top: 10px;
      font-size: 1.15rem;
    }
  }
}