@use "../variables" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: $color-blanco;
  box-shadow: 0 1px 20px rgba($color-texto, 0.7);

  &__logo {
    width: 100px;

    @media screen and (min-width: $mq-medium) {
      width: 150px;
    }
  }
}

.nav {
  display: flex;
  gap: 10px;

  &__boton {
    padding: 10px 15px 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba($color-texto, 0.3);
    font-family: $font-acento;
    font-size: 9px;
    color: $color-blanco;
    background-color: $color-secundario;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      background-color: $color-acento;
      color: $color-secundario;
      box-shadow: 0 6px 12px rgba($color-texto, 0.3);
    }

    @media screen and (min-width: $mq-medium) {
      border-radius: 20px;
      font-size: $font-size-base;
    }
  }
}