<footer class="footer">
  <p class="footer__copyright">&copy; Antolín Murcia Navarro, <b>2026</b>.</p>
  <p class="footer__uoc"><abbr title="HyperText Markup Language">HTML</abbr> y <abbr title="Cascading Style Sheets">CSS</abbr> II,<abbr title="Universitat Oberta de Catalunya"> UOC</abbr></p>
  <div class="footer__redes">
    <a class="footer__enlace" href="https://www.facebook.com/visitbenidorm" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i></a>
    <a class="footer__enlace" href="https://x.com/visitbenidorm" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
    <a class="footer__enlace" href="https://instagram.com/visitbenidorm" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
  </div>
</footer>
